
#title {
    text-align: center;
}
img {
    text-align: left;
}
table#contactList {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#contactList tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}
#contactList tr:hover {
    background-color: #ccc;
}
#contactList td {
    padding: 20px 5px;
}
#contactList td:hover {
    cursor: pointer;
}
a {
    color: black;
}
